@{
    Layout = "_Layout_Pay";
}
<style>
    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
        border: 1px solid deepskyblue;
    }

    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #00bcd40d;
    }

    .btn-app {
        border-radius: 3px;
        position: relative;
        padding: 15px 5px;
        margin: 0 0 10px 10px;
        min-width: 80px;
        height: 60px;
        text-align: center;
        color: #fff;
        border: 1px solid #3F51B5;
        background-color: #3c8dbc;
        font-size: 14px;
    }
</style>
<section class="content-header">
    <div class="row">
        <h1>สลิปเงินเดือน</h1>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-4">
            <div class="box box-info box-solid">
                <div class="box-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12 text-bold">
                                ค้นหา
                                <hr />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2 text-bold">
                                ปี
                            </div>
                            <div class="col-md-10">
                                @Html.DropDownList("year", ViewData["year"] as List<SelectListItem>, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12 text-bold">
                                <hr />
                                เดือน
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row text-center">
                            @if (ViewData["btn_action"].ToString() == "01")
                            {
                                <a class="btn btn-app btn-info active" ref="01">   ม.ค. </a>
                            }
                            else
                            {

                                <a class="btn btn-app btn-info" ref="01">   ม.ค. </a>
                            }

                            @if (ViewData["btn_action"].ToString() == "02")
                            {

                                <a class="btn btn-app btn-info active" ref="02">ก.พ.</a>
                            }
                            else
                            {
                                <a class="btn btn-app btn-info" ref="02">ก.พ.</a>
                            }
                            @if (ViewData["btn_action"].ToString() == "03")
                            {
                                <a class="btn btn-app btn-info active" ref="03">มี.ค.</a>
                            }
                            else
                            {

                                <a class="btn btn-app btn-info" ref="03">มี.ค.</a>
                            }

                            @if (ViewData["btn_action"].ToString() == "04")
                            {
                                <a class="btn btn-app btn-info active" ref="04">เม.ย.</a>
                            }
                            else
                            {

                                <a class="btn btn-app btn-info" ref="04">เม.ย.</a>
                            }

                            @if (ViewData["btn_action"].ToString() == "05")
                            {
                                <a class="btn btn-app btn-info active" ref="05">พ.ค.</a>
                            }
                            else
                            {

                                <a class="btn btn-app btn-info" ref="05">พ.ค.</a>
                            }

                            @if (ViewData["btn_action"].ToString() == "06")
                            {
                                <a class="btn btn-app btn-info active" ref="06">มิ.ย.</a>
                            }
                            else
                            {

                                <a class="btn btn-app btn-info" ref="06">มิ.ย.</a>
                            }

                            @if (ViewData["btn_action"].ToString() == "07")
                            {
                                <a class="btn btn-app btn-info active" ref="07">ก.ค.</a>
                            }
                            else
                            {

                                <a class="btn btn-app btn-info" ref="07">ก.ค.</a>
                            }
                            @if (ViewData["btn_action"].ToString() == "08")
                            {
                                <a class="btn btn-app btn-info active" ref="08">ส.ค.</a>
                            }
                            else
                            {

                                <a class="btn btn-app btn-info" ref="08">ส.ค.</a>
                            }
                            @if (ViewData["btn_action"].ToString() == "09")
                            {
                                <a class="btn btn-app btn-info active" ref="09">ก.ย.</a>
                            }
                            else
                            {

                                <a class="btn btn-app btn-info" ref="09">ก.ย.</a>
                            }

                            @if (ViewData["btn_action"].ToString() == "10")
                            {
                                <a class="btn btn-app btn-info active" ref="10">ต.ค.</a>
                            }
                            else
                            {

                                <a class="btn btn-app btn-info" ref="10">ต.ค.</a>
                            }

                            @if (ViewData["btn_action"].ToString() == "11")
                            {
                                <a class="btn btn-app btn-info active" ref="11">พ.ย.</a>
                            }
                            else
                            {

                                <a class="btn btn-app btn-info" ref="11">พ.ย.</a>
                            }
                            @if (ViewData["btn_action"].ToString() == "12")
                            {
                                <a class="btn btn-app btn-info active" ref="12">ธ.ค.</a>
                            }
                            else
                            {

                                <a class="btn btn-app btn-info" ref="12">ธ.ค.</a>
                            }

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <hr />
                                <a asp-controller="Pay" asp-action="gslip" class="btn btn-block btn-social btn-warning text-center">
                                    <i class="fa fa-search"></i> สลิปเงินเดือนล่าสุด
                                </a>
                            </div>
                            @*<div class="col-md-6 text-center">
                                <hr />
                                @{ Html.BeginForm("download", "Pay", FormMethod.Post);}
                                <button type="submit" class="btn btn-block btn-social btn-bitbucket text-center">
                                    <i class="fa fa-search"></i> ค้นหา
                                </button>
                                @{ Html.EndForm();}
                            </div>*@
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-8 slip">
            <div class="box box-info box-solid">
                <div class="box-body">
                    <div class="invoice">
                        <!-- title row -->
                        <div class="row">
                            <div class="col-xs-12">
                                <h2 class="page-header">
                                    <img src="~/images/@ViewData["logo"]" style="width:16%" /> <span class="text-primary text-bold">@ViewData["comp_name"]</span>
                                    <span class="pull-right label label-primary" style="padding-top: 15px;font-size: 20px;  padding-bottom: 15px;"> ใบแจ้งเงินเดือน / PAY SLIP</span>
                                </h2>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- info row -->
                        <div class="row invoice-info">
                            <div class="col-sm-12 invoice-col">
                                <div class="box box-info box-solid">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    ชื่อพนักงาน
                                                </div>
                                                <div class="col-md-6">
                                                    @ViewData["ep_code"] @ViewData["ep_name"]
                                                </div>
                                                <div class="col-md-2 text-right">
                                                    ประจำวันที่
                                                </div>
                                                <div class="col-md-1">
                                                    @ViewData["period_date"]
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    ชื่อแผนก
                                                </div>
                                                <div class="col-md-6">
                                                    @ViewData["dept_code"] @ViewData["dept_name"] @ViewData["section_code"] @ViewData["section_name"]
                                                </div>
                                                <div class="col-md-2 text-right">
                                                    ลำดับที่
                                                </div>
                                                <div class="col-md-1">
                                                    @ViewData["item_no"]
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.col -->

                        </div>
                        <!-- /.row -->
                        <!-- Table row -->
                        <div class="row">
                            <div class="col-xs-12 table-responsive">
                                <table class="table table-striped table-bordered table-primary border-info" style="border-color:deepskyblue">
                                    <thead style="background-color: #4596e4e6;">
                                        <tr>
                                            <th class="text-center text-white" style="color:white;">รายการเงินได้</th>
                                            <th class="text-center text-white" style="color:white;">จำนวนเงิน</th>
                                            <th class="text-center text-white" style="color:white;">รายการเงินได้</th>
                                            <th class="text-center text-white" style="color:white;">จำนวนเงิน</th>
                                            <th class="text-center text-black">รายการเงินหัก</th>
                                            <th class="text-center text-black">จำนวนเงิน</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>เงินเดือน</td>
                                            <td class="text-right">@ViewData["a01"]</td>
                                            <td>ค่าเวร</td>
                                            <td class="text-right">@ViewData["a02"]</td>
                                            <td class="text-blue">ภาษีหัก ณ ที่จ่าย</td>
                                            <td class="text-right">@ViewData["d01"]</td>
                                        </tr>
                                        <tr>
                                            <td>ค่าครองชีพ</td>
                                            <td class="text-right">@ViewData["a02"]</td>
                                            <td>ค่ารถ</td>
                                            <td class="text-right">@ViewData["a10"]</td>
                                            <td class="text-blue">ประกันสังคม</td>
                                            <td class="text-right">@ViewData["d02"]</td>
                                        </tr>
                                        <tr>
                                            <td>สวัสดิการอื่น</td>
                                            <td class="text-right">@ViewData["a03"]</td>
                                            <td>ค่าโทรศัพท์</td>
                                            <td class="text-right">@ViewData["a11"]</td>
                                            <td class="text-blue">เบี้ยประกันหมู่</td>
                                            <td class="text-right">@ViewData["d03"]</td>
                                        </tr>
                                        <tr>
                                            <td>ค่าล่วงเวลา</td>
                                            <td class="text-right">@ViewData["a04"]</td>
                                            <td>โบนัส</td>
                                            <td class="text-right">@ViewData["a12"]</td>
                                            <td class="text-blue">เงินกองทุนสำรองเลี้ยงชีพ</td>
                                            <td class="text-right">@ViewData["d04"]</td>
                                        </tr>
                                        <tr>
                                            <td>เบี้ยเลี้ยง/เบี้ยขยัน</td>
                                            <td class="text-right">@ViewData["a05"]</td>
                                            <td>เงินชดเชย</td>
                                            <td class="text-right">@ViewData["a13"]</td>
                                            <td class="text-blue">เงินกู้กองทุนพนักงาน</td>
                                            <td class="text-right">@ViewData["d05"]</td>
                                        </tr>
                                        <tr>
                                            <td>ตกเบิก</td>
                                            <td class="text-right">@ViewData["a06"]</td>
                                            <td>เงินบำเหน็จ</td>
                                            <td class="text-right">@ViewData["a14"]</td>
                                            <td class="text-blue">ธนาคารอาคารสงเคราะห์</td>
                                            <td class="text-right">@ViewData["d06"]</td>
                                        </tr>
                                        <tr>
                                            <td>ค่าคอมมิชชั่น</td>
                                            <td class="text-right"> @ViewData["a07"]</td>
                                            <td>เงินได้อื่นๆ</td>
                                            <td class="text-right">@ViewData["a15"]</td>
                                            <td class="text-blue">เงินหักอื่นๆ</td>
                                            <td class="text-right">@ViewData["d07"]</td>
                                        </tr>
                                        <tr>
                                            <td>ค่าเรื่อง/ซัพพลีเมนท์</td>
                                            <td class="text-right">@ViewData["a08"]</td>
                                            <td class="text-right text-bold">รวมเงินได้</td>
                                            <td class="text-right text-bold">@ViewData["income_total"]</td>
                                            <td class="text-right text-bold text-blue">รวมเงินหัก</td>
                                            <td class="text-right text-bold">@ViewData["minus_total"]</td>
                                        </tr>
                                        <tr>

                                            <td colspan="5" class="text-right text-bold">รายได้สุทธิ</td>
                                            <td class="text-right text-bold">@ViewData["net_amount"]</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->

                        <div class="row">
                            <!-- accepted payments column -->
                            <div class="col-xs-12">
                                <div class="box box-info box-solid">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    เงินได้สะสม
                                                </div>
                                                <div class="col-md-2">
                                                    @ViewData["income_sum"]
                                                </div>
                                                <div class="col-md-2">
                                                    ภาษีเงินได้สะสม
                                                </div>
                                                <div class="col-md-2">
                                                    @ViewData["tax_sum"]
                                                </div>
                                                <div class="col-md-2">
                                                    ประกันสังคมสะสม
                                                </div>
                                                <div class="col-md-2">
                                                    @ViewData["sso_sum"]
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    เงินกองทุนสำรองเลี้ยงชีพส่วนของพนักงานสะสม
                                                </div>
                                                <div class="col-md-2">
                                                    @ViewData["pvf_sum"]
                                                </div>
                                                <div class="col-md-2">
                                                    ผู้รับเงิน
                                                </div>
                                                <div class="col-md-2">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.col -->

                        </div>
                        <!-- /.row -->
                        <!-- this row will not appear when printing -->
                        <div class="row no-print">
                            <div class="col-xs-12 text-right">
                                
                                 <a href="../../slip/@ViewData["file_name"]" class="btn btn-success getfile" download><i class="fa fa-save"></i> ดาวน์โหลดสลิปเงินเดือน</a> 
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<script src="~/lib/jquery/dist/jquery-3.2.1.min.js"></script>
<script>
    $(document).on('click', '.btn-app', function () {

        var y = $('#year option:selected').val();
       /// alert(y);
        var m = $(this).attr('ref');
        var m_txt = $(this).text();

        $.post('../../Pay/schdata', { y: y, m: m })
        .done(function (data) {

            if (data == "N") {

                swal("ผิดพลาด","ไม่พบงวดเงินเดือน เดือน "+m_txt,"error");

            } else {

                document.location.assign('../../Pay/gslip?dt='+data);

            }


        })
          
    })
</script>
<script>
    $(document).on('click', '.download', function () {

        var file = $('#file').val();
        var txt = $('.getfile').attr('href');

       // alert(txt);

        $.post('../../Pay/download', { q: file })
        .done(function () {
 
            $.fileDownload(txt);
          //  download(txt);
        })

    })
</script> 
<script>
    $(document).on('change', '#year', function () {

        var y = $('#year option:selected').val();
        var m = $('.btn-app.active').attr('ref');
      
        var m_txt = $('.btn-app.active').text();

        $.post('../../Pay/schdata', { y: y, m: m })
        .done(function (data) {

            if (data == "N") {

                swal("ผิดพลาด", "ไม่พบงวดเงินเดือน เดือน " + m_txt, "error");

            } else { 
                document.location.assign('../../Pay/gslip?dt=' + data); 
            }
        })
    })
</script>
